h1{
    font-size: 50px;
    color: #1ecbe1;
    text-align: center;
}
#task{
    margin-left: 20%;
    width: 40%;
    height: 7vh;
    text-align: center;
    font-size: 17px;
}
.add{
    margin-left: 1%;
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 10vw;
    color: white;
    background-color: #1ecbe1;
    font-size: 17px;

}
.delete{
    border: none;
    border-radius: 10px;
    height: 7vh;
    width: 10vw;
    color: white;
    background-color: #1ecbe1;
    font-size: 17px;

}